################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EFCore/.vs/EFCore
/EFCore/EFCore.Models/obj
/EFCore/EFCore.Models/bin/Debug/netcoreapp2.1
/EFCore/EFCore.Data/obj/Debug/netcoreapp2.1
/EFCore/EFCore.Data/bin/Debug/netcoreapp2.1
/EFCore/EFCore.Web/bin/Debug/netcoreapp2.1
/EFCore/EFCore.Web/obj
/EFCore/EFCore.Web/wwwroot/css
/EFCore/EFCore.Web/wwwroot/images
/EFCore/EFCore.Web/wwwroot/js
/EFCore/EFCore.Web/wwwroot/lib
/EFCore/Demo.Web/bin/Debug/netcoreapp2.1
/EFCore/Demo.Web/obj
/EFCore/Demo.Web/node_modules/bootstrap
/EFCore/Redis.Web/bin/Debug/netcoreapp2.1
/EFCore/Redis.Web/obj
/EFCore/Redis.Web/wwwroot/lib
